---
extends: default

ignore:
  - integration-tests/goss/goss-shared.yaml

rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  indentation:
    spaces: consistent
    indent-sequences: consistent
  line-length: disable
  document-start: disable
